div(class ='titulo d-flex justify-content-center')
    h2=titulo
    if(nav !== "productos")
        a(href="/productos" class="btn btn-dark mx-5")="Subir" 
    else
        a(href="/" class="btn btn-dark  mx-5")="Productos"
    