{{#if hayProducto }}
                <h2>El producto se agrego perfectamente.</h2>
{{else}}
                <h2>El producto no se pudo agregar. Revisar si se ingresaron todos los datos.</h2>
       {{/if}}
