 {{> title }}
    <div class="container">
        <div class="row m-4">
            <h2>Agregar Producto</h2>
            <div class="col">
                <img src="https://assets.spartangeek.com/cc/ew-thor-1_200106_021015.png" class="img-fluid"/>
            </div>
        <div class="col d-flex flex-column align-items-center">
            <form method="post" action="/creador">
                <div class="input-group mb-5">
                    <span class="input-group-text" for="producto">Producto</span>
                    <input type="text" class="form-control" id="producto" name="producto" placeholder="Producto">
                </div>
                <div class="input-group mb-5">
                    <span for="precio" class="input-group-text">$</span>
                    <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio">
                </div>
                <div class="input-group mb-5">
                    <span class="input-group-text" for="thumbnail">https://assets.riskstore.com/images/....jpg</span>
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="Thumbnail">
                </div>
                <button type="submit" class="btn btn-dark w-100">Agregar</button>
                <div class="d-flex flex-column align-items-center">
                </div>
            </form>
        </div>
      </div>
    </div>
    {{> footer }}